@font-face {
    font-family: cocogoose;
    src: url(cocogoose/Cocogoose-Pro-Regular-trial.ttf);
}

@font-face {
    font-family: lemonmilk;
    src: url(lemon_milk/LEMONMILK-Bold.otf);
}

body{
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: cocogoose;
}

/* header */
header {
    background-color: #006ab7;
    position: sticky;
    top: 0px;
    height: 8vh;
    z-index: 999;
    width: 100vw;
}

.header-content {
    height: 100%;
    color: #fff;
    justify-content: space-between;
    padding: 0 4% 0 4%;
}

.header-logo {
    position: relative;
}

.logoWise {
    width: 10em;
}

.nav-item,
.nav-item-mobile {
    text-decoration: none;
}

.nav-item {
    color: #fff;
    font-size: 22px;
    margin-left: 4vw;
}

.nav-item:hover {
    border-bottom: 3px solid #fff;
}

header::after {
    content: "";
    width: 100%;
    background-color: #004475;
    height: 8px;
    position: absolute;
    top: 8vh;
}

.hamburguer {
    height: 1.5em;
}

.header-links-container-mobile {
    display: none;
}

button {
    border: none;
    background-color: #006ab7;
}

.side-menu {
    display: none;
    background-color: #006ab7;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    animation: side-bar-open-animation 0.8s;
    filter: none;
}

.side-menu-content {
    top: 0;
    background-color: #fff;
}

.logo-side {
    margin-top: 4vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
}

.logo-side-img {
    height: 3vh;
}

.side-menu-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.nav-item-mobile {
    color: #545454;
    margin-bottom: 4vh;
    margin-left: 2vw;
}

.nav-item-mobile::after,
.nav-item-mobile::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #E4E4E4;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: -2vw;
}

.nav-item-mobile::before {
    margin-top: -2vh;
}

.nav-item-mobile::after {
    margin-top: 2vh;
}

@keyframes side-bar-open-animation {
    from {
        left: -20rem;
    }

    to {
        left: 0;
    }
}

/* Index */

#bunner {
    margin-top: 5px;
    height: 140vh;
    width: 100%;
}

.bunner-container {
    background-image: url('../img/bunner-img.jpg');
    width: 100%;
    height: 100%;
    /* top:5vh; */
    background-position: right;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.bunner-slogan {
    width: 60%;
    margin-left: 15vh;
}

.bunner-slogan p {
    font-size: 4vw;
}

/* Ilustrações */

.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10em !important;
    margin-bottom: 10em;
    /* margin-right: 20vw; */
    /* margin-left: 20vw; */
    color: #0094ff;
    flex-wrap: wrap
}

.title p {
    font-size: 3vw;
    text-align: center;
}


.capa_cinza {
    color: #006ab7;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 5vw;
}

.personagens {
    display: flex;
}

.card-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.card-character p {
    font-size: 2vw;
}

.card-character img {
    height: 20vw;
    width: auto;
    padding: 5vw;
    padding-bottom: 0.5vw;
}


.capa_azul {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #006ab7;
    justify-content: center;
    padding: 5vw;
    width: 100vw;
    height: 40vh;
    position: relative;

}

.capa_azul p{
    text-align: center;
}

.capa_azul img {
    width: auto;
    height: 30vh;
}

.capa_azul::after {
    content: "";
    width: 100%;
    background-color: #004e86;
    height: 8px;
    position: absolute;
    bottom: -8px;
}

/* Marketing */

#container-maketing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_text {
    display: flex;
    justify-content: center;
    color: #006ab7;
    width: 100%;
    margin-top: 12vh;
    text-align: center;
}

.title_text p {
    font-size: 1.8em;
    width: 85%;
}

.highlight {
    color: #0094ff;
}

.text-after {
    width: 100%;
}

.text-after::after {
    content: "";
    /* min-width: 180%; */
    background-color: #006ab7;
    border-radius: 5px;
    height: 2px;
    margin-top: 10em;
    width: 80%;
}

.title-WiseLeap {
    width: 50%;
}

/* Identidade visual */

.bright_highlight {
    color: #85ccff;
}

.card_color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card_color p {
    font-family: lemonmilk;
}

.color_list {
    margin-top: 5vh;
    margin-bottom: 15vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: center;
}

.color {
    height: 75px;
    width: 100px;
    margin: 25px;
    border-radius: 10px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .nav-item {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1280px) {
    .nav-item {
        font-size: 17px;
    }

    .title p {
        font-size: 4vw;
    }

    .title_text {
        margin-top: 7vh;
        width: 80%;
        margin-bottom: 2vh;
    }

    .capa_azul {
        /* height: 30vh; */
        padding-top:5vw; 
        padding-bottom:5vw; 
    }

    .capa_azul img {
        height: 20vh;
    }

    .title_text p {
        font-size: 1.5em;
    }

    .text-after::after {
        min-width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-item {
        font-size: 15px;
    }
}

@media only screen and (max-width: 990px) {
    .header-links-container-pc {
        display: none;
    }

    .header-links-container-mobile {
        display: block;
    }

    .logoWise {
        min-width: 8em;
    }

    #bunner {
        height: 80vh;
    }

    .bunner-container {
        align-items: flex-start;
    }

    .bunner-slogan {
        margin-left: 5vw;
        margin-top: 10vh;
        width: 30%;
    }

    .title p {
        font-size: 2.0em;
    }

    .title_text {
        margin-top: 5vh;
        width: 95%;
        margin-right: 0;

    }

    .capa_azul {
        height: 30vh;
    }

    .capa_azul img {
        height: 15vh;
    }

    .title_text p {
        font-size: 1.5em;
        text-align: center;
    }

    .card-character img{
        width: 75%;
        height: auto;
    }

    .break-line{
        width: 70% !important;
    }

}

@media only screen and (max-width: 650px) {
    #close {
        margin-left: -25vw;
    }


    .bunner-slogan p {
        font-size: 7vw;
    }
    .title p {
        font-size: 2em;
    }
    .title_text p {
        font-size: 1.5em;
        text-align: center;
    }

    .break-line{
        width: 80% !important;
    }

    .card-character p{
        font-size: 3vw;
    }

}

@media only screen and (max-width: 570px){
    .capa_azul{
        height: 25vh;
    }

    .capa_azul img{
        width: 20vw;
        height: auto;
    }

    .capa_cinza{
        height: 25vh;
    }

    .title p{
        font-size: 1.7em;
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    .capa_azul {
        height: 20vh;
    }

    .capa_azul img {
        height: 10vh;
    }

    .title {
        margin-top: 10vh;
    }

    .title p {
        font-size: 7vw;
    }

    .title_text p {
        font-size: 5vw;
        text-align: center;
    }

    .text-after::after{
        margin-top: 5em;
    }

    #break-line{
        width: 100%;
    }
}

@media only screen and (max-width: 390px) {
    .side-menu {
        width: 15rem;
    }

    .capa_azul{
        padding: 0 25vw;
    }
}

@media only screen and (max-width: 375px) {
    #close {
        margin-left: -35vw;
    }
}